<section class="menu">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          {% for link in linklists[section.settings.main_linklist].links %}
            {% if link.links == blank %}
            <li class="nav-item active">
              <a class="nav-link" href="{{link.url}}">{{link.title}}</a>
            </li>
            {% endif %}

            {% if link.links != blank %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Shop
                </a>
                <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
                  <div class="row">
                    {% for childlink in link.links %}
                      <div class="col-4">
                        <div class="dropdown-header">{{childlink.title}}</div>
                        <div class="dropdown-divider"></div>

                        {% for sublink in childlink.links %}
                          <a href="{{sublink.url}}">{{sublink.title}}</a>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
          <!-- <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
              <div class="row">
                <div class="col-4">
                  <div class="dropdown-header">Mens</div>
                  <div class="dropdown-divider"></div>
                  <a href="shop.html">Shirts</a>
                  <a href="about.html">Jeans</a>
                  <a href="404.html">Dress Pants</a>
                  <a href="coming-soon.html">Shoes</a>
                  <a href="faq.html">Jackets</a>
                </div>
                <div class="col-4">
                  <div class="dropdown-header">Womens</div>
                  <div class="dropdown-divider"></div>
                  <a href="contact.html">Dresses</a>
                  <a href="about.html">Leggings</a>
                  <a href="404.html">Skirts</a>
                  <a href="coming-soon.html">Coats</a>
                  <a href="faq.html">Sweatshirts</a>
                </div>
                <div class="col-4">
                  <div class="dropdown-header">Accessories</div>
                  <div class="dropdown-divider"></div>
                  <a href="contact.html">Watches</a>
                  <a href="about.html">Bracelets</a>
                  <a href="404.html">Necklaces</a>
                  <a href="coming-soon.html">Purses</a>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clearance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-header">Items</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Watches</a>
              <a class="dropdown-item" href="#">Bags</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</section>